<!DOCTYPE html>
<html>
<head>
  <title>OnlineCoursesApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>Online Courses Application</h1>

<nav>
  <ul>
    <li><a href="<%=root_path%>">Home</a></li>
    <li><a href="<%=courses_path%>">Courses</a></li>
    <li><a href="<%=about_path%>">About</a></li>
  </ul>
</nav>

<%= yield %>

<footer>Done by Adrien - &copy 2016 Adrien Dubois</footer>

</body>
</html>
